In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9260145 entries, 0 to 9260144
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 635.8+ MB

In [6]:
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [7]:
basics.replace({'\\N':np.nan},inplace = True)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [8]:
basics.dropna(inplace=True)
basics.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [9]:
basics.duplicated().sum()

0

In [10]:
basics['startYear'] = basics['startYear'].astype(int)
basics = basics.loc[(basics['startYear']>=2000) & (basics['startYear']<=2022)]

In [11]:
dataType = basics.dtypes['startYear']
print(dataType)

int64

In [12]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [13]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
108530,tt0111056,tvSeries,Gensomaden Saiyuki,Gensomaden Saiyuki,0,2000,2001,23,"Action,Adventure,Animation"
137804,tt0142032,tvMiniSeries,Dune,Dune,0,2000,2000,265,"Adventure,Drama,Sci-Fi"
153525,tt0158466,tvMiniSeries,Anne of Green Gables: The Continuing Story,Anne of Green Gables: The Continuing Story,0,2000,2000,185,"Drama,Family,Romance"
155718,tt0160904,tvSeries,MI-5,Spooks,0,2002,2011,60,"Action,Crime,Drama"
158584,tt0163944,tvMiniSeries,Labyrinten,Labyrinten,0,2000,2000,259,"Drama,Thriller"
...,...,...,...,...,...,...,...,...,...
9259318,tt9915022,tvSeries,Yarali Kuslar,Yarali Kuslar,0,2019,2019,90,Drama
9259351,tt9915114,tvSeries,Touche pas à mon sport,Touche pas à mon sport,0,2015,2016,65,"Sport,Talk-Show"
9259452,tt9915338,tvSeries,Aunty Donna: Camp Bush Camp!,Aunty Donna: Camp Bush Camp!,0,2018,2018,5,Comedy
9259658,tt9915822,tvSeries,Ichhapyaari Naagin,Ichhapyaari Naagin,0,2016,2017,20,Fantasy
9259838,tt9916216,tvSeries,Kalyanam Mudhal Kadhal Varai,Kalyanam Mudhal Kadhal Varai,0,2014,2017,22,Romance

In [14]:
is_movie = basics['titleType'].str.contains('Movie', case = False)
basics = basics[is_movie]

basics

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [15]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [16]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33326830 entries, 0 to 33326829
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [17]:
akas.isna().sum()

titleId              0
ordering             0
title                5
region             104
language             0
types                0
attributes           0
isOriginalTitle      0
dtype: int64

In [18]:
akas.replace({'\\N':np.nan},inplace = True)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [19]:
akas.dropna(inplace=True)
akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [20]:
akas.duplicated().sum()

0

In [21]:
#showing only movies made in the usa
is_US_Movie = akas['region'].str.contains('US',case=False)
akas = akas[is_US_Movie]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
100834,tt0022542,1,Di shtime fun Yisroel,US,yi,alternative,YIVO translation,0
112741,tt0024265,4,Geleb un gelakht,US,yi,alternative,modern translation,0
116123,tt0024751,9,Avram Ovenu,US,yi,alternative,YIVO translation,0
124732,tt0026010,3,Der yidishe Kenigen Lir,US,yi,alternative,YIVO translation,0
138174,tt0027911,1,Libe un Laydnshaft,US,yi,alternative,modern translation,0
145779,tt0028902,4,Freylekhe kabtsonim,US,yi,alternative,YIVO translation,0
146253,tt0028957,4,Grine Felder,US,yi,alternative,YIVO translation,0
146708,tt0029013,3,Di heylige Shvue,US,yi,alternative,YIVO translation,0
146902,tt0029042,3,Ikh vil zayn a Mame,US,yi,alternative,YIVO translation,0
152489,tt0029765,3,Vu iz mayn Kind?,US,yi,alternative,YIVO translation,0
161023,tt0030904,5,Tsvaye Shvester,US,yi,alternative,YIVO translation,0
167269,tt0031697,5,Mayn Zundele,US,yi,alternative,modern translation,0
173907,tt0032552,2,Der groyser Eytse-geber,US,yi,alternative,YIVO translation,0
174170,tt0032582,2,Ir tsveyte Mame,US,yi,alternative,YIVO translation,0
174713,tt0032649,1,Der yidisher Nigh,US,yi,alternative,YIVO translation,0
179096,tt0033225,3,Der vilner Shtot Khazn,US,yi,alternative,YIVO translation,0
179097,tt0033225,4,The Vilna Town Cantor,US,yi,alternative,YIVO translation,0
1023112,tt0129068,3,Eybike Naronim,US,yi,alternative,modern translation,0
1023304,tt0129118,4,"Got, Mentsh, un Tayvl",US,yi,alternative,YIVO translation,0
1023791,tt0129247,5,Mayn Yidishe Mame,US,yi,alternative,modern translation,0
1026842,tt0130043,4,Am Yisroel Kay,US,yi,alternative,YIVO translation,0
1027929,tt0130312,2,Dray Tekhter,US,yi,alternative,YIVO translation,0

In [22]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

Series([], Name: tconst, dtype: bool)

In [23]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1913
1  tt0000002            5.8       258
2  tt0000003            6.5      1717
3  tt0000004            5.6       170
4  tt0000005            6.2      2533

In [24]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261982 entries, 0 to 1261981
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1261982 non-null  object
 1   averageRating  1261982 non-null  float64
 2   numVotes       1261982 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [25]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [26]:
keepers_ratings =basics['tconst'].isin(ratings['tconst'])
keepers_ratings

Series([], Name: tconst, dtype: bool)

In [27]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv('Data/title.akas.csv.gz',compression = 'gzip', index=False)
ratings.to_csv('Data/title.ratings.csv.gz', compression = 'gzip', index=False)