In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9280312 entries, 0 to 9280311
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 637.2+ MB

In [6]:
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [7]:
basics.replace({'\\N':np.nan},inplace = True)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [14]:
basics = basics.dropna(subset = ['runtimeMinutes','genres','startYear'])
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           263527
runtimeMinutes         0
genres                 0
dtype: int64

In [15]:
basics.duplicated().sum()

0

In [22]:
basics = basics.loc[ basics['titleType']=='movie']

basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61094,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
67640,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77934,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86771,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9279984,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9279993,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9280032,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9280077,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9280161,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

In [23]:
basics['startYear'] = basics['startYear'].astype(float)
basics = basics.loc[(basics['startYear']>=2000) & (basics['startYear']<=2022)]

In [24]:
dataType = basics.dtypes['startYear']
print(dataType)

float64

In [25]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [26]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61094,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
67640,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77934,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86771,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9279984,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9279993,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9280032,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9280077,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9280161,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

In [27]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [28]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33413698 entries, 0 to 33413697
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [29]:
akas.isna().sum()

titleId              0
ordering             0
title                5
region             105
language             0
types                0
attributes           0
isOriginalTitle      0
dtype: int64

In [30]:
akas.replace({'\\N':np.nan},inplace = True)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [31]:
akas.dropna(inplace=True)
akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [32]:
akas.duplicated().sum()

0

In [33]:
#showing only movies made in the usa
is_US_Movie = akas['region'].str.contains('US',case=False)
akas = akas[is_US_Movie]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
101010,tt0022542,1,Di shtime fun Yisroel,US,yi,alternative,YIVO translation,0
112942,tt0024265,4,Geleb un gelakht,US,yi,alternative,modern translation,0
116330,tt0024751,9,Avram Ovenu,US,yi,alternative,YIVO translation,0
124957,tt0026010,3,Der yidishe Kenigen Lir,US,yi,alternative,YIVO translation,0
138428,tt0027911,1,Libe un Laydnshaft,US,yi,alternative,modern translation,0
146045,tt0028902,4,Freylekhe kabtsonim,US,yi,alternative,YIVO translation,0
146519,tt0028957,4,Grine Felder,US,yi,alternative,YIVO translation,0
146974,tt0029013,3,Di heylige Shvue,US,yi,alternative,YIVO translation,0
147168,tt0029042,3,Ikh vil zayn a Mame,US,yi,alternative,YIVO translation,0
152762,tt0029765,3,Vu iz mayn Kind?,US,yi,alternative,YIVO translation,0
161311,tt0030904,5,Tsvaye Shvester,US,yi,alternative,YIVO translation,0
167564,tt0031697,5,Mayn Zundele,US,yi,alternative,modern translation,0
174212,tt0032552,2,Der groyser Eytse-geber,US,yi,alternative,YIVO translation,0
174475,tt0032582,2,Ir tsveyte Mame,US,yi,alternative,YIVO translation,0
175019,tt0032649,1,Der yidisher Nigh,US,yi,alternative,YIVO translation,0
179404,tt0033225,3,Der vilner Shtot Khazn,US,yi,alternative,YIVO translation,0
179405,tt0033225,4,The Vilna Town Cantor,US,yi,alternative,YIVO translation,0
1024684,tt0129068,3,Eybike Naronim,US,yi,alternative,modern translation,0
1024876,tt0129118,4,"Got, Mentsh, un Tayvl",US,yi,alternative,YIVO translation,0
1025363,tt0129247,5,Mayn Yidishe Mame,US,yi,alternative,modern translation,0
1028417,tt0130043,4,Am Yisroel Kay,US,yi,alternative,YIVO translation,0
1029504,tt0130312,2,Dray Tekhter,US,yi,alternative,YIVO translation,0

In [34]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34792      False
61094      False
67640      False
77934      False
86771      False
           ...
9279984    False
9279993    False
9280032    False
9280077    False
9280161    False
Name: tconst, Length: 143594, dtype: bool

In [35]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1914
1  tt0000002            5.8       259
2  tt0000003            6.5      1720
3  tt0000004            5.6       172
4  tt0000005            6.2      2537

In [36]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262175 entries, 0 to 1262174
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1262175 non-null  object
 1   averageRating  1262175 non-null  float64
 2   numVotes       1262175 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [37]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [38]:
keepers_ratings =basics['tconst'].isin(ratings['tconst'])
keepers_ratings

34792      True
61094      True
67640      True
77934      True
86771      True
           ...
9279984    True
9279993    True
9280032    True
9280077    True
9280161    True
Name: tconst, Length: 143594, dtype: bool

In [39]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv('Data/title.akas.csv.gz',compression = 'gzip', index=False)
ratings.to_csv('Data/title.ratings.csv.gz', compression = 'gzip', index=False)